*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1172px;
    margin: auto;
}

/*component-1 start*/
header{
    margin-bottom: 28px;
}

header .header{
    background: #1A1C27;
    height: 55px;
    font-family: 'Lato';
}

header .top-line{
    height: 5px;
    background: #222533;
}

header .header .container{
    height: 50px;
}

header .header .container div{
    display: inline-block;
    color: #A1B1BC;
    font-size: 14px;
    line-height: 19px;
    border-right: 1px solid #314354;
    height: 100%;
    padding-top: 15px;
}

header .header .container div.middle{
    padding-left: 8px;
    padding-right: 15px;
}

header .header .container div:first-child{
    border-left: 1px solid #314354;
    padding-left: 16px;
    padding-right: 13px;
}

header .header .container div:last-child{
    padding-left: 12px;
    padding-right: 15px;
}

header .header .container div span{
    color: #FFFFFF;
    font-weight: 900;
}

header .header .container div i{
    color: #1ABC9C;
    font-size: 18px;
    line-height: 19px;
    padding-right: 14px;
}
/*component-1 end*/

/*component-2 start*/
nav{
    font-family: 'Lato';
    background: #FFFFFF;
    height: 100px;
}

nav a {
    text-decoration: none;
    color: #A1B1BC;
    font-size: 16px;
    line-height: 14px;
}

nav .logo{
    display: inline-block;
    padding-top: 28px;
    margin-right: 83px;
    float: left;
}

nav .logo img{
    float: left;
    padding-right: 14px;
}

nav .logo .logo-text{
    display: inline-block;
    color: #2C3E50;
    font-size: 36px;
    line-height: 14px;
    padding-top: 14px;
}

nav .logo .logo-text span{
    font-weight: 900;
}

nav .nav-items{
    display: flex;
    justify-content: space-around;
}

nav .nav-items div{
    display: inline-block;
    margin-right: 44px;
}

nav .nav-items .nav-item{
    height: 100px;
}

nav .nav-items .nav-item:hover span{
    top: 37px;
}

nav .nav-items .nav-item:hover{
    border-top: 5px solid #1ABC9C;
    color: #1ABC9C;
}

nav .nav-items .nav-item span{
    position: relative;
    top: 42px;
}

nav .nav-items .search{
    margin-right: 0;
    display: flex;
    width: 76px;
    justify-content: space-between;
}

nav .nav-items .search .nav-item{
    position: relative;
    left: -14px;
    margin-right: 0;
}

nav .nav-items .search i{
    font-size: 28px;
    position: relative;
    top: -6px;
    left: 10px;
}

nav .nav-items .search i:first-child{
    padding-right: 20px;
}
/*component-2 end*/

/*component-3 start*/
.burger-menu{
    background: #222533;
    height: 120px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato';
}

.burger-menu .burger{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-left: 86px;
}

.burger-menu .burger span{
    font-size: 30px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 20px;
}

.burger-menu .burger a{
    text-decoration: none;
    color: #A1B1BC;
}

.burger-menu .burger .burger-icon{
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #FFFFFF;
    border: 1px solid #A1B1BC;
    border-radius: 6px;
    padding-bottom: 1px;
}

.burger-menu .burger .burger-icon i{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu .right-nav{
    color: #ECF0F1;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 215px;
    margin-right: 88px;
    padding-bottom: 3px;
}

.burger-menu .right-nav .current{
    font-weight: 700;
}

.burger-menu .right-nav a{
    text-decoration: none;
    color: #ECF0F1;
    font-size: 14px;
    line-height: 19px;
}

.burger-menu .right-nav i{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    font-weight: 700;
}
/*component-3 end*/

