*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1172px;
    margin: auto;
}

/*component-1 start*/
header{
    margin-bottom: 28px;
}

header .header{
    background: #1A1C27;
    height: 55px;
    font-family: 'Lato';
}

header .top-line{
    height: 5px;
    background: #222533;
}

header .header .container{
    height: 50px;
}

header .header .container div{
    display: inline-block;
    color: #A1B1BC;
    font-size: 14px;
    line-height: 19px;
    border-right: 1px solid #314354;
    height: 100%;
    padding-top: 15px;
}

header .header .container div.middle{
    padding-left: 8px;
    padding-right: 15px;
}

header .header .container div:first-child{
    border-left: 1px solid #314354;
    padding-left: 16px;
    padding-right: 13px;
}

header .header .container div:last-child{
    padding-left: 12px;
    padding-right: 15px;
}

header .header .container div span{
    color: #FFFFFF;
    font-weight: 900;
}

header .header .container div i{
    color: #1ABC9C;
    font-size: 18px;
    line-height: 19px;
    padding-right: 14px;
}
/*component-1 end*/

/*component-2 start*/
nav{
    font-family: 'Lato';
    background: #FFFFFF;
    height: 100px;
}

nav a {
    text-decoration: none;
    color: #A1B1BC;
    font-size: 16px;
    line-height: 14px;
}

nav .logo{
    display: inline-block;
    padding-top: 28px;
    margin-right: 83px;
    float: left;
}

nav .logo img{
    float: left;
    padding-right: 14px;
}

nav .logo .logo-text{
    display: inline-block;
    color: #2C3E50;
    font-size: 36px;
    line-height: 14px;
    padding-top: 14px;
}

nav .logo .logo-text span{
    font-weight: 900;
}

nav .nav-items{
    display: flex;
    justify-content: space-around;
}

nav .nav-items div{
    display: inline-block;
    margin-right: 44px;
}

nav .nav-items .nav-item{
    height: 100px;
}

nav .nav-items .nav-item:hover span{
    top: 37px;
}

nav .nav-items .nav-item:hover{
    border-top: 5px solid #1ABC9C;
    color: #1ABC9C;
}

nav .nav-items .nav-item span{
    position: relative;
    top: 42px;
}

nav .nav-items .search{
    margin-right: 0;
    display: flex;
    width: 76px;
    justify-content: space-between;
}

nav .nav-items .search .nav-item{
    position: relative;
    left: -14px;
    margin-right: 0;
}

nav .nav-items .search i{
    font-size: 28px;
    position: relative;
    top: -6px;
    left: 10px;
}

nav .nav-items .search i:first-child{
    padding-right: 20px;
}
/*component-2 end*/

/*component-3 start*/
.burger-menu{
    background: #222533;
    height: 120px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato';
    margin-bottom: 98px;
}

.burger-menu .burger{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-left: 86px;
}

.burger-menu .burger span{
    font-size: 30px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 20px;
}

.burger-menu .burger a{
    text-decoration: none;
    color: #A1B1BC;
}

.burger-menu .burger .burger-icon{
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #FFFFFF;
    border: 1px solid #A1B1BC;
    border-radius: 6px;
    padding-bottom: 1px;
}

.burger-menu .burger .burger-icon i{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu .right-nav{
    color: #ECF0F1;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 215px;
    margin-right: 88px;
    padding-bottom: 3px;
}

.burger-menu .right-nav .current{
    font-weight: 700;
}

.burger-menu .right-nav a{
    text-decoration: none;
    color: #ECF0F1;
    font-size: 14px;
    line-height: 19px;
}

.burger-menu .right-nav i{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    font-weight: 700;
}
/*component-3 end*/

/*component-4 start*/
main .container{
    display: flex;
    justify-content: space-between;
    font-family: 'Lato';
}

main .right{
    width: 852px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

main .left{
    width: 270px;
}

main .container .blog-post{
    width: 850px;
    height: 668px;
    margin-bottom: 71px;
}

main .container figure{
    margin-bottom: 27px;
}

main figure .img{
    width: 100%;
    height: 400px;
    background: #CCCCCC;
}

main .container .title{
    margin-bottom: 7px;
}

main .container .title a{
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #2C3E50;
}

main .container .title a:hover{
    color: #1ABC9C;
}

main .container .meta-data{
    font-size: 14px;
    line-height: 30px;
    color: #A1B1BC;
    margin-bottom: 13px;
}

main .container .meta-data span:after{
    content: '';
    display: inline-block;
    background: #EBEBEB;
    height: 13px;
    width: 1px;
    margin: 0 7px;
}

main .container .meta-data span:last-child:after{
    display: none;
}

main .container .line{
    height: 1px;
    background: #ECF0F1;
    margin-bottom: 13px;
}

main .container .text{
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    margin-bottom: 25px;
}

main .container button{
    font-size: 16px;
    line-height: 24px;
    color: #2C3E50;
    width: 150px;
    height: 50px;
    border: 1px solid #2C3E50;
    border-radius: 3px;
    background: #FFFFFF;
    font-weight: 900;
}

main .container button:hover{
    color: #FFFFFF;
    background: #2C3E50;
}

main .slider{
    width: 850px;
    height: 679px;
}

main .slider{
    position: relative;
    margin-bottom: 59px;
}

main .slider .left-arrow{
    position: absolute;
    top:175px;
}

main .slider .left-arrow span{
    position: relative;
    top: 14px;
    left: 16px;
}

main .slider .right-arrow{
    position: absolute;
    right: 0;
    top: 175px;
}

main .slider .right-arrow span{
    position: relative;
    top: 14px;
    right: -21px;
}

main .slider figure .circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #FFFFFF;
}

main .slider figure .arrow{
    width: 47px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 3px;
}

main .slider figure a{
    text-decoration: none;
    color: #2C3E50;
}

main .slider figure .circle-icons{
    position: absolute;
    width: 100px;
    left: 376px;
    top: 363px;
    display: flex;
    justify-content: space-between;
}

main .slider figure .circle-o{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    display: inline-block;
}

main .blog-post-video{
    margin-bottom: 70px;
}

main .blog-post-video .video-container{
    height: 450px;
    margin-bottom: 26px;
}

main .blog-post-video .video-container video{
    width: 100%;
    height: 100%;
}

main .blog-post-video .text span{
    color: #1ABC9C;
    letter-spacing: 0.2px;
    word-spacing: -0.2px;
    padding-left: 2px;

}

main .blog-post-video .text span a{
    color: #2C3E50;
}

main .blog-youtube-video{
    margin-bottom: 120px;
}

main .blog-youtube-video .video-container{
    height: 485px;
}
main iframe{
    width: 100%;
    height: 100%;
}

main .blog-youtube-video .text span.note{
    letter-spacing: 0.1px;
}
/*component-4 end*/

/*component-5 start*/
footer .footer{
    height: 478px;
    background: #1A1C27;
    font-family: 'Lato';
}
footer ul{
    list-style: none;
}

footer .footer .container{
    display: flex;
    justify-content: space-between;
    padding-top: 97px;
}

footer .footer .container a{
    text-decoration: none;
    color: #1ABC9C;
    font-size: 14px;
    line-height: 24px;
}

footer .footer .container ul{
    display: flex;
    flex-direction: column;
    width: 270px;
}

footer .footer .container i{
    font-size: 24px;
    line-height: 24px;
    padding-top: 6px;
    padding-right: 18px;
}

footer .footer .container ul li h4.recent-posts{
    padding-bottom: 6px;
}

footer .footer .container ul li p.date-time{
    font-size: 12px;
    line-height: 24px;
    color: #6D7D89;
}

footer .footer .container ul li p.date{
    font-size: 12px;
    color: #788894;
}

footer .footer .container > ul:first-child li p:first-child{
    margin-bottom: 24px;
}

footer .footer .container ul:first-child li:first-child{
    padding-bottom: 37px;
}

footer .footer .container ul.recent li.flex{
    justify-content: space-between;
}

footer .footer .container ul h3{
    font-size: 47px;
    line-height: 14px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 1px;
}

footer .footer .container .flex ul h4{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
}

footer .footer .container ul.recent li .flex .flex{
    flex-direction: column;
}

footer .footer .container ul.recent li h4.recent-tweets{
    padding-bottom: 6px;
}

footer .footer .container div.flex ul.recent li.tweets-header{
    padding-bottom: 39px;
}

footer .footer .container div.flex ul.recent li.tweet-content{
    margin-bottom: 2px;
}

footer .footer .container ul h3 span{
    font-size: 47px;
    line-height: 14px;
    color: #1ABC9C;
    font-weight: 900;
}
footer .footer .container ul{
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
}

footer .footer .container .flex{
    display: flex;
    justify-content: space-between;
}

footer .footer .container .flex ul li:first-child:before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 18px;
    background: #1ABC9C;
    margin-right: 16px;
    margin-bottom: -2px;
}

footer .footer .container ul.recent li:after{
    content: '';
    display: block;
    background: #262837;
    height: 1px;
    margin-bottom: 12px;
    margin-top: 13px;
}

footer .footer .container ul.recent li:last-child:after, footer .footer .container ul.recent li:first-child:after {
    display: none;
}

footer .footer .container div:last-child ul{
    display: flex;
    flex-direction: column;
}

footer .footer .container div:last-child ul ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7px;
}

footer .footer .container div:last-child ul li:first-child{
    padding-bottom: 46px;
}

footer .footer .container div:last-child ul ul li{
    width: 85px;
    height: 85px;
    background: #1ABC9C;
}
/*component-5 end*/

/*component-6 start*/
.copyright {
    width: 100%;
    height: 70px;
    background: #222533;
    color: #A1B1BC;
    padding-top: 26px;
    font-family: 'Lato';
    letter-spacing: -1px;
}

.copyright .container{

}

.copyright .container p{
    display: inline-block;
}

.copyright .container a{
    text-decoration: none;
    color: #1ABC9C;
}

.copyright .container span::before{
    content: '';
    display: inline-block;
    height: 14px;
    width: 1px;
    background: #2C3E50;
    margin-left: 7px;
    margin-right: 5px;
    vertical-align: middle;
}
/*component-6 end*/
/*component-7 start*/

aside{
    font-family: 'Lato';
}

aside .sidebar-tweets{
    margin-bottom: 57px;
}

aside .sidebar-header{
    display: flex;
    padding-bottom: 20px;
}

aside .sidebar-header h3{
    font-size: 18px;
    line-height: 19px;
    font-weight: 700;
    color: #2C3E50;
}

aside .sidebar-header .widget-icon{
    width: 14px;
    height: 14px;
    background: #1ABC9C;
    margin-right: 10px;
}

aside .sidebar-header .widget-icon .bottom{
    height: 7px;
    width: 100%;
    background: #46D1FF;
    margin-top: 7px;
}

aside .tweet .flex{
    display: flex;
    justify-content: space-between;
}

aside .tweet::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #DEE5E9;
    margin-bottom: 14px;
}

aside .tweet:last-child::after{
    display: none;
}

aside .tweet .tweet-content{
    width: 216px;
    padding-bottom: 17px;
}

aside .tweet .tweet-content .tweet-header{
    padding-bottom: 5px;
}

aside .tweet .avatar{
    height: 40px;
    width: 40px;
    background: #CCCCCC;
    border-radius: 5px;
    margin-top: 6px;
}

aside .tweet .tweet-header p a{
    text-decoration: none;
    color: #2C3E50;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    padding-right: 7px;
}

aside .tweet .tweet-header p a:hover{
    color: #1ABC9C;
}

aside .tweet .tweet-header p span{
    font-size: 14px;
    line-height: 19px;
    color: #A1B1BC;
}
aside .tweet .tweet-text p {
    color: #A1B1BC;
    font-size: 14px;
    line-height: 24px;
    word-spacing: 0.1px;
}

aside .tweet .tweet-text p a{
    text-decoration: none;
    color: #1ABC9C;
}
/*component-7 end*/

/*component-8 start*/
aside .flickr{
    font-family: 'Lato';
}

aside .flickr .flickr-header{
    display: flex;
    padding-bottom: 29px;
}

aside .flickr .flickr-header .widget-icon{
    width: 14px;
    height: 14px;
    background: #1ABC9C;
    margin-right: 10px;
}

aside .flickr .flickr-header .widget-icon .bottom{
    height: 7px;
    width: 100%;
    background: #46D1FF;
    margin-top: 7px;
}

aside .flickr .flickr-header h3{
    font-size: 18px;
    line-height: 19px;
    color: #2C3E50;
    font-weight: 700;
}

aside .flickr .cells{
    display: flex;
    flex-direction: column;
}

aside .flickr .cells .cell{
    background: #CCCCCC;
    width: 85px;
    height: 85px;
    position: relative;
    color: #CCCCCC;
    font-size: 40px;
    line-height: 19px;
    font-weight: 300;
}

aside .flickr .cells .cell:hover{
    background: #1ABC9C;
    color: #FFFFFF;
}

aside .flickr .cells .cell span{
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

aside .flickr .cells .flex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
}
/*component-8 end*/
